.nonso_header {
  color: green;
  text-align: center;
}
.nonso_table {
  border-collapse: collapse;
}
.nonso_table th {
  padding: 5px;
}
.nonso_table td {
  padding: 20px;
}
.nator_header {
  color: lightseagreen;
  text-align: center;
  font-weight: 400;
}
.nator_table {
  border-collapse: collapse;
}
.nonso_table th{
padding: 5px;

}
.nator_table td {
  padding: 20px;
}
.chuka_header {
  color: blue;
  text-align: right;
}
.chuka_table th {
  border-color: brown;
  border-width: 20cap;
  border-width: 50cap;
}
.chuka_table td {
  align-items: left;
  border-collapse: separate;
}

.boba_header {
  color: gray;
  text-align: center;
  text-decoration: underline blue;
}
.boba_table {
  border-collapse: collapse;
}
.boba_table th {
  padding: 10px;
}
.boba_table td {
  padding: 20px;
}

h1{
    color: blue
}

.box_model{
    margin: 20px;
    padding: 10px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 20px;
    padding: 10px 20px 40px; */
    /* padding: 10px; */
    border-width: 5px;
    border-style: solid;
    border-color: red;
    /* border: 5px solid green; */
}